<h2><%= @user.username %></h2>

<p>
  <%= link_to "Edit", edit_user_path %>
</p>


<div class="col-md-4">
<%=image_tag(@user.image_url, :class => "img-rounded")%>
<p><%= @user.bio %></p>
</div>

<div class="col-md-4">
<% Badge.where(user_id: @user.id).order('created desc').each do |badge| %>
	<h3><%= badge.name %></h3>
      	<%= image_tag(badge.image_url, :class => "img-rounded") %>
<% end %>
</div>
