<h2><%= @rating.beer.name %></h2>
<p>
  <%= link_to "Edit", edit_user_path %>
</p>

<div class="col-md-4">
<%=image_tag(@rating.beer.image_url, :class => "img-rounded")%>
</div>

<div class="col-md-7">
By: <%= link_to(@rating.user.username, "/users/#{@rating.user_id}") %>
<p><%= @rating.description %></p>
</div>
