<h2>Add a New Beer</h2>
<%= form_tag "/beers" do %>
 <%= label_tag :name %><br> <%= text_field_tag :name %><br>
    <%= label_tag :image_url %><br> <%= text_field_tag :image_url %><br>
  <%= label_tag :brewery %><br>
  
  <select name="brewery">
      <% @breweries.each do |brewery| %>
        <option value="<%= brewery.id %>">
          <%= brewery.name %>
        </option>
      <% end %>
    </select><br>
  
  
 <%= label_tag :description %><br> 
<%= text_area_tag("description", nil, rows: 5, cols: 50 )%>
<br>
  <p><button>Submit</button></p>
<% end %>
