<%cookies["viewed"] = @beer.id%>
<div class="col-md-8 col-md-offset-2">
<h2><%= @beer.name %></h2>

<p>
  <%= link_to "Edit", edit_beer_path %>
</p>

<div>
<div class="col-md-4">

<%= image_tag @beer.image_url, :class => "img-rounded", width: '200px' %>

<p><%= @beer.description %></p>
</div>
<div class="col-md-4 col-md-offset-1">
<h3>Reviews</h3>
<p>Write a review</p>
<%= form_tag "#{@beer.id}/ratings/", class: "form-inline" do %>
  <input name="description" class="col-md-12">
  <select name="stars" class="form-control">
    <option>5 star</option>
    <option>4 star</option>
    <option>3 star</option>
    <option>2 star</option>
    <option>1 star</option>
  </select>
  <button class="btn btn-default">Submit</button>
<% end %>

<% Rating.where(beer_id: @beer.id).order('id desc').each do |rating| %>
  <p>
    <strong><%= ("&#9733;" * rating.stars).html_safe  %></strong>
    <br>
    <%= rating.description %>

  </p>
<% end %>
</div>
</div>